// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: #E3E2E4;

// Manual colors
$background: linear-gradient(180deg, #110E1E 0%, #1A1733 48%, #2D2A56 100%);
$navbar-background: #110E1E;
$background-widget:rgba(#332D63, 0.19);
$icon: #A577FC;
$selected-button: linear-gradient(180deg, #5926B9 0%, #B088FB 100%);
$border: #2B2751;
