<div class="d-flex gap-2 my-3 overflow-auto hide-scrollbar" data-dashboard-target="calendarContainer">
  <% @date_range.each do |date| %>
    <div class="date-card border rounded-4 px-3 text-center cursor-pointer <%= 'today-card' if date == @current_date %>"
          data-action="click->dashboard#loadDateContent"
          data-date="<%= date.to_s %>"
          data-dashboard-current-class="bg-primary text-white">
      <div><%= date.day %></div>
      <div><%= date.strftime("%a") %></div>
    </div>
  <% end %>
</div>
