<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

    <!-- Calendar Overview Link To-->
  <button class="navbar-toggler" type="button" id="navbarToggle">
    <span class="navbar-toggler-icon"></span>
  </button>

    <!-- Greeting text-->
    <div>
      <p>What's on your 🪶</p>
      <p>mind today User?</p>
    </div>

    <!-- Calendar overview Link To -->
    <%= link_to dashboard_calendar_path, class: "navbar-lewagon navbar-brand" do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png", alt: "Calendar" %>
    <% end %>

    <!-- Simple sliding sidebar -->
    <div class="simple-sidebar" id="simpleSidebar">
      <button id="closeSidebar">Close</button>
      <h3>Menu</h3>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>

    <!-- Dark background overlay -->
    <div class="sidebar-overlay" id="sidebarOverlay"></div>

  </div>
</div>
